<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Anh Nguyen</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
	
	<div class="main-area center-text" style="background-image:url('static/images/bg.jpg');">
		
		<div class="display-table">
			<div class="display-table-cell">
				
				<h1 class="title font-white"><b>Comming Soon</b></h1>
				<p class="desc font-white">My website is currently undergoing scheduled maintenance.(out of funding with Google Cloud Platform)<b>
					This should be back shortly. Thank you for your patience.</p>
				
				<a class="notify-btn" href="mailto:anhdnguyenn@gmail.com"><b>EMAIL ME</b></a>

				<ul class="social-btn font-white">
					<li><a href="/static/Software-Developer.pdf" target "_blank">resume</a></li> 
					<li><a href="https://www.facebook.com/ducanh1996.vn">facebook</a></li>
					<li><a href="https://www.github.com/anguyen32">github</a></li>
				</ul><!-- social-btn -->
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
	
</body>
</html>